@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

font-face {
    font-family: 'Karla', sans-serif;
    font-style: normal;
}

body {
    font-family: 'Karla', "Helvetica Neue", sans-serif;
    background-color: #add8e6;
    text-align: justify;
    margin: 20px 30px;
    color: white;
}

header {
    box-shadow: darkgray 5px 1px 1px;
    border: 5px double #265c9a;
    margin-bottom: 20px;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: darkgray 2px 1px 1px;
    background: linear-gradient(darkblue, dodgerblue);
    padding: 30px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    animation: anim2 2s ease-in-out infinite alternate;
}

.campeones {
    background-color: #0f5698;
    box-shadow: dimgray 5px 1px 1px;
    border: 3px solid black;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: anim1 3s infinite alternate;
}


.campeones img {
    border: 3px solid blue;
    box-shadow: dimgray 5px 1px 1px;
    max-width: 120px;
    height: auto;
    border-radius: 15px;
    animation: anim3 3s ease-in-out infinite alternate;
}

.campeones a h2 {
    background-color: #ffffff;
    color: #0563d1;
    transition: color 0.5s;
}

.campeones a h2:hover {
    background-color: #038a00;
    color: darkblue;
}

h1, h2 {
    font-family: sans-serif;
    text-transform: uppercase;
    text-shadow: dodgerblue 2px 1px 1px;
    color: black;
    text-align: center;
}

@keyframes anim1 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

@keyframes anim2 {
    from {
        transform: translateY(10px); opacity: 0.9;
    }
    to {
        transform: translateY(0); opacity: 1;
    }
}

@keyframes anim3 {
    from {
        opacity: 0.9;
    }
    to {
        opacity: 1;
    }
}
